.homeLogo {
    padding: 2rem;
    color: black;
    text-align: center;
    background-color: #ddab3e;
    color: #ff3300;
    border-radius: 5%;
}

.homeLogo2 {
    color: black;
    text-align: center;
    padding: 1rem;
}

