.profilePhoto {
  width: 200px;
}

.profileLeftPanel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: antiquewhite;
  padding: 2rem;
  border-radius: 2%;
  margin: 1rem;
  -webkit-box-shadow: 15px 20px 28px -14px rgba(126, 126, 126, 1);
  -moz-box-shadow: 15px 20px 28px -14px rgba(126, 126, 126, 1);
  box-shadow: 15px 20px 28px -14px rgba(126, 126, 126, 1);
}

.profileMiddlePanel {
  background-color: antiquewhite;
  padding: 2rem;
  border-radius: 2%;
  margin: 1rem;
  -webkit-box-shadow: 15px 20px 28px -14px rgba(126, 126, 126, 1);
  -moz-box-shadow: 15px 20px 28px -14px rgba(126, 126, 126, 1);
  box-shadow: 15px 20px 28px -14px rgba(126, 126, 126, 1);
}

.singleAnnouce {
  background-color: antiquewhite;
  padding: 2rem;
  margin: 1rem;
  -webkit-box-shadow: 15px 20px 28px -14px rgba(126, 126, 126, 1);
  -moz-box-shadow: 15px 20px 28px -14px rgba(126, 126, 126, 1);
  box-shadow: 15px 20px 28px -14px rgba(126, 126, 126, 1);

}
